@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-save {
    @apply text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2 text-center;
}

.input-item {
    @apply block w-full p-1 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 sm:text-xs focus:ring-blue-500 focus:border-blue-500;
}

.label-item {
    @apply block mb-2 text-sm font-medium text-gray-900 dark:text-white;
}

.modal-window {
    @apply absolute flex flex-col bg-white p-4 rounded-md;
}

.w-200 {
    @apply w-[200px];
}